body {
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0%;
}
h1 { 
    font-size: 60px;
 }
 .choco-color{
     color: chocolate;
 }
 section {
     display: flex;
     margin-bottom: 150px;
 }
 .half-width{
     width: 50%
     padding-left: 2%;
 }
 .half-width img{
     width: 80%;
    }
.link-button {
    text-decoration: none;
    background-image: linear-gradient(chocolate,orange);
    padding: 10px 40px;
    color: cornsilk;
    font-weight: 500;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}